#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* .card {
  padding: 100em;
} */
/* .card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding: 10px;
} */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding: 10px;
  float:right;
  transform: translateX(20px); /* Moves the container 20px to the right */
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.card {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  width: 180px; /* Adjust the width of each card */
  height: 250px; /* Adjust the height */
  padding: 10px;
  text-align: center;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 120px;
  border-radius: 10px;
  object-fit: cover;
}

.card h3 {
  color: white;
  font-size: 16px;
  margin-top: 10px;
}


.read-the-docs {
  color: #888;
}
